:root {
  --red-nfal: #ca3e47;
  --black-nfal: #313131;
  --white-nfal: #eeeeee;
  --blue-nfal: #1363df;
  --blue-nfal-rgb: 19, 99, 223;
}
* {
  font-family: "Plus Jakarta Sans";
}
.wr {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(255, 255, 255, 0.36);
}
.wr-dark {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
}

.imgfloat {
  max-width: 80px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}
.floatingThing {
  width: 240px;
  position: fixed;
  z-index: 9;
  right: -132px;
  bottom: 42px;
  transition: 0.25s ease-in;
}
.text-nfal-white {
  color: var(--white-nfal) !important;
}
.floatingThing:hover {
  transition: 0.25s ease-out;
  right: -42px;
}
.social {
  max-height: 42px;
}
.filter-for-light {
  filter: invert(17%) sepia(0%) saturate(1225%) hue-rotate(262deg)
    brightness(101%) contrast(93%);
}

.filter-for-dark {
  filter: invert(100%) sepia(4%) saturate(73%) hue-rotate(166deg)
    brightness(113%) contrast(87%);
}

.bg-nfal-blue {
  background-color: var(--blue-nfal) !important;
}
.brd-nfal-blue {
  --bs-border-opacity: 1;
  border-color: rgba(var(--blue-nfal-rgb), var(--bs-border-opacity)) !important;
}
